.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  width: 100px; /* ajustez la taille du logo selon vos besoins */
  height: 100px; /* ajustez la taille du logo selon vos besoins */
  animation: breathe 4s infinite ease-in-out; /* ajustez la durée de l'animation selon vos besoins */
}
